<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277394821647-sn5g0uht0obkhup6ppah9or78vl0dban.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277394821647-sn5g0uht0obkhup6ppah9or78vl0dban</string>
	<key>API_KEY</key>
	<string>AIzaSyBE3dUH0Uhm_6unJ_hCE56lmduu-aNM98s</string>
	<key>GCM_SENDER_ID</key>
	<string>277394821647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JC15.Slatielly</string>
	<key>PROJECT_ID</key>
	<string>slatielly-app</string>
	<key>STORAGE_BUCKET</key>
	<string>slatielly-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277394821647:ios:5709a1db712bff5e</string>
	<key>DATABASE_URL</key>
	<string>https://slatielly-app.firebaseio.com</string>
</dict>
</plist>